
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #343541;
    color: white;
}

.background{
    background-image: url(https://img.freepik.com/premium-vector/happy-new-year-2024-merry-christmas_71393-1020.jpg);
    height: 800px;
    width: 800px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}